<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>Welcome to {{ title }}!</h1>
  </div>
  <a routerLinkActive="active" routerLink="/login">Login</a> |
  <a routerLinkActive="active" routerLink="/people">People</a> |
  <a routerLinkActive="active" routerLink="/counter">Counter</a> |
  <a routerLinkActive="active" routerLink="/products">Products</a>
  <router-outlet></router-outlet>
</div>
<app-messages></app-messages>
