<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <mat-toolbar>
    <span>{{ title | uppercase }}</span>
    <span class="fill-remaining-space"></span>
    <span style="text-align: end;">
      <mat-chip-list>
        <mat-chip
          routerLinkActive="active"
          selected
          color="accent"
          routerLink="/login"
        >
          Login</mat-chip
        >
        <mat-chip routerLinkActive="active" routerLink="/people"
          >People</mat-chip
        >
        <mat-chip routerLinkActive="active" routerLink="/counter">
          Counter
        </mat-chip>
        <mat-chip routerLinkActive="active" routerLink="/products">
          Products
        </mat-chip>
        <mat-chip routerLinkActive="active" routerLink="/films">Films</mat-chip>
      </mat-chip-list>
    </span>
  </mat-toolbar>
  <div class="content-container"><router-outlet></router-outlet></div>
</div>
<app-messages></app-messages>
