@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "@angular/material/prebuilt-themes/purple-green.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
ul {
  margin-top: 0;
}
li {
  list-style-type: none;
}

// TODO: use primary from theme - but how?
a {
  color: #ce93d8;
  text-decoration: none;
}
